.app-container {
  max-width: 375px; 
  margin: 0 auto; 
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  height: 100vh; 
  overflow: auto; 
  background-color: white; 
  position: relative; 
  display: flex;
  flex-direction: column; 
}

body {
  margin: 0;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  box-sizing: border-box; 
}

@media (min-width: 768px) {
  .app-container {
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
  }
}
